*{
    padding: 0px;
    margin: 0px;
}
#lobby{
    display: grid;
    column-gap: 10vw;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 5fr 1fr;
}
.title{
    height: 10vh;
    padding: 2vh;
    margin-bottom: 6vh;
    font-size: 80px;
    text-align: center;
}
#roomCode{
    position: absolute;
    left: 85vw;
    top: 15vh;
    display: flex;
    gap: 10px;
}
#roomCode p{
    font-size: 32px;
    color: goldenrod;
}
#roomCode img{
    fill: #ff5733;
}
#roomCode img:hover{
    cursor: pointer;
}

#playerCustomization{
    align-self: center;
    display: grid;
    grid-template: auto auto / auto auto;
    height: 20vh;
    gap: 20px;
    justify-content: right;
    align-items: center;
    padding: 20px;
}
#playerCustomization label{
    font-weight: bold;
    font-size: 40px;
    padding-left: 10px;
    grid-area: 1 / 1 / 2 / 3;
}
#playerCustomization input[type = "text"]{
    font-size: max(4.2vh, 30px);
    border-radius: 15px;
    padding-left: 10px;
    height: max(7vh, 50px);
}
#playerCustomization #playerName{
    grid-area: 1 / 1 / 2 / 2;
}
#playerCustomization input[type = "color"]{
    width: max(7vh, 50px);
    height: max(7vh, 50px);
}
#playerCustomization #colorSelect{
    align-self: center;
    width: 50px;
    height: 50px;
    grid-area: 1 / 2 / 2 / 3;
}
#playerCustomization #joinGame{
    width: 35vw;
    height: max(8vh, 50px);
    justify-self: center;
    border-radius: 50px;
    font-size: 40px;
    background-color: #3f353a;
    color: white;
    grid-area: 2 / 1 / 3 / 3;
    margin-top: 20px;
}
#joinGame:hover{
    cursor: pointer;
}

ul#playerList{
    list-style-type: none;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}
#playerList .player{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}
#playerList .player .playerColor{
    width: max(7vh, 50px);
    height: max(7vh, 50px);
}
#playerList #leaveLobbyButton{
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: white;
    border-radius: 100%;
    background-color: rgb(134, 11, 11);
}

#startGame{
    grid-column: 1 / 3;
    justify-self: center;
    width: 40vw;
    height: 12vh;
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: bold;;
    border-radius: 10px;
}