@import "./lobby.css";

@font-face {
    font-family: "callistoMT";
    src: url("/static/CallistoMT.ttf");
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: grid;
    grid-template-rows: 90px auto 2fr 1fr;
    width: 100vw;
    height: 100vh;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
}

.header{
    position: sticky;
    top: 0vh;
    background-color: #3f353a;
    height: 90px;
    display: grid;
    align-items: center;
}
#backgroundImage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.25;
    object-fit: cover;
    z-index: -1;
}

#statsSidebar{
    position: absolute;
    top: 0vh;
    left: 85vw;
    height: 100vh;
    width: 15vw;
    display: grid;
    background-color: beige;
}
#statsSidebar div[id^="playerDisplay"]{
    display: grid;
    gap: 10px;
    font-size: 25px;
}
#statsSidebar .playerName{
    font-size: 40px;
    font-weight: bold;
}
#statsSidebar div{
    padding: 30px;
    font-size: 25px;
}

#blownUp{
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 300px;
    border-radius: 10%;
    z-index: 5;
}

#gameSpace{
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: blanchedalmond;
}
#gameSpace>div[id^="player"]{
    position: absolute;
    display: grid;
    grid-template: 200px auto / 200px auto;
    left: calc(50% - 200px);
    top: calc(50% - 100px);
    width: 400px;
    height: 200px;
}
div[id^="player"] .playerIcon{
    width: 200px;
    height: 200px;
    background-color: #3f353a;
    border-radius: 50%;
}
div[id^="player"] .playedCard{
    align-self: center;
    justify-self: center;
    width: 125px;
    border-radius: 13%;
    border: 3px dashed cyan;
}

div[id^="player"] #handIcon{
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    transform: rotate(-90deg);
    width: 75px;
}

#actionDisplayDiv{
    position: absolute;
    align-self: center;
    width: fit-content;
    display: grid;
    grid-template: 70px auto / auto 40px;
    z-index: 6;
}
#actionSelection{
    display: grid;
    grid-template: auto auto / repeat(4, auto);
    gap: 25px;
    overflow: auto;
    padding: 20px;
    background-color: #000000d5;
}
#displayVisibilitySlider{
    grid-area: 1 / 2 / 3 / 3;
    width: 40px;
    height: 100%;
    display: grid;
    align-items: center;
    background-color: #6e6e6ed5;
}
#cardLocationToggle{
    align-self: center;
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    font-family: "callistoMT"
}
#cardLocationToggle>div{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
#cardLocationToggle>div>button{
    width: 400px;
    font-size: 36px;
}
#actionSelection div{
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
}
#actionSelection img{
    width: 250px;
    border-radius: 11%;
}

#selectedPlayer{
    border: 5px solid purple;
}

#confirm{
    position: absolute;
    align-self: center;
    justify-self: center;
    height: 75px;
    width: 75px;
}