@import "./lobby.css";

@font-face {
    font-family: "calistoMT";
    src: url("./calisto-mt.ttf");
}

*{
    padding: 0px;
    margin: 0px;
}
:root {
    --standard-action-color: rgb(255, 245, 230);
    --one-shot-color: rgb(255, 220, 210);
    --dark-mode-standard-action-color: #474757;
    --dark-mode-one-shot-color: #5b5050;
    --shop-color: rgb(230, 170, 30, 0.85);
    --work-color: #41A7BF;
    --steal-color: #BA0000;
    --dark-mode-color: #3f353a;
    --neutral-background-rgbs: 255, 248, 220;
    --display-toggle-width: max(3vw, 40px);
}
body{
    display: grid;
    font-family: 'calistoMT';
    grid-template-rows: 9vh auto 2fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

button{
    width: 10vh;
    height: 5vh;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'calistoMT';
}
button:hover{
    cursor: pointer;
}

#mainMenu{
    display: grid;
    justify-items: center;
    padding: 5vh;
    gap: 20vh;
}
#mainMenu p{
    font-size: 15vh;
}
#mainMenu #options{
    display: grid;
    gap: 5vh;
}
#options button{
    width: max(15vw, 200px);
    font-size: 4vh;
    height: fit-content;
    padding: 5px;
}
#roomCodePopUp{
    position: relative;
    display: grid;
    gap: 1vh;
    align-items: center;
    justify-items: center;
    height: 10vh;
    top: -28vh;
    left: calc(max(15vw, 200px) + 5vw);
}
#roomCodePopUp input{
    height: 3vh;
    width: 15vh;
    font-size: 3vh;
    font-family: 'calistoMT';
    text-align: center;
    text-transform: uppercase;
}
#roomCodePopUp button{
    width: 20vh;
}
#tutorial{
    position: absolute;
    top: 72vh;
    left: 72vw;
    height: 20vh;
    width: calc(26vw - var(--display-toggle-width));
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-content: center;
    padding: 1vh;
    text-align: center;
    font-size: 20px;
    background-color: antiquewhite;
    box-shadow: 0 0 0 3px yellow inset;
    user-select: none;
    z-index: 10;
}
#tutorialMessage{
    align-self: anchor-center;
    line-height: 120%;
}
.tutorialProgress{
    align-self: center;
    display: flex;
    font-size: 32px;
    white-space: pre-wrap;
}
.tutorialProgress img{
    width: 5vh;
}
.tutorialProgress img:hover{
    cursor: pointer;
}
.grudgieSpeech{
    position: absolute;
    transform: rotate(150deg);
    top: 130%;
    left: 30%;
    font-weight: bold;
    font-size: 2vw;
    width: 15vw;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.33);
    padding: 1vh;
}

.grudgieSpeech span{
    display: inline-block;
    color: red;
    text-shadow: 1px 1px 1px black;
    animation: rumble 0.15s infinite;
}
@keyframes rumble{
  0%   {transform: translate(0, 0);}
  20%  {transform: translate(-1px, 1px);}
  40%  {transform: translate(-1px, -1px);}
  60%  {transform: translate(1px, 1px, );}
  80%  {transform: translate(1px, -1px);}
  100% {transform: translate(0, 0);}
}

#leaveTutorial{
    position: absolute;
    right: 7vw;
    top: 3vw;
    height: fit-content;
    width: fit-content;
    font-size: 32px;
    font-weight: bold;
    padding: 5px 10px;
    color: black;
    background-color: pink;
}

.card{
    display: grid;
    width: 100%;
    aspect-ratio: 5 / 7;
    grid-template: 2fr 4fr 1.5fr 6fr/ 2fr 3fr 2fr;
    justify-items: center;
    align-items: center;
    background-color: var(--standard-action-color);
    border: 0.5px solid black;
    border-radius: 10%;
    user-select: none;
    container-type: inline-size;
}
.card .cost{
    height: 70%;
    aspect-ratio: 1;
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 183, 0);
    border-radius: 100%;
    font-size: 12cqi;
    border: 2px solid black;
    z-index: 1;
}
.card .name{
    grid-area: 1 / 1 / 2 / 4;
    font-size: 15cqi;
}
.card .text{
    grid-area: 4 / 1 / 5 / 4;
    width: 100%;
    text-align: center;
    font-size: 10cqi;
}
.card .priority{
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13cqi;
    z-index: 1;
}
.card .background{
    grid-area: 2 / 1 / 4 / 4;
    width: 100%;
    height: 100%;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}
.card.oneShot{
    background-color: var(--one-shot-color);
}
.oneShot .name{
    font-style: italic;
}

.header{
    position: sticky;
    top: 0vh;
    background-color: var(--dark-mode-color);
    height: 9vh;
    display: grid;
    align-items: center;
}
#backgroundImage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.25;
    object-fit: cover;
    z-index: -1;
}

.statsDisplay{
    position: absolute;
    grid-column: 2 / 3;
    display: grid;
    grid-template: repeat(3, min(5vh, calc(5vw * 2 / 3))) / 1fr 1fr;
    gap: 1vh;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    text-align: center;
    font-size: 3vh;
    width: fit-content;
    background-color: rgba(var(--neutral-background-rgbs), 0.5);
    padding: 1.5vh;
    padding-top: 0vh;
    border-radius: 20%;
}
.statsDisplay .playerName{
    grid-area: 1 / 1 / 2 / 3;
    width: min-content;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.startPlayerIcon{
    position: absolute;
    bottom: 87%;
    visibility: hidden;
}
#startPlayer .startPlayerIcon{
    visibility: visible;
}
#startPlayer .playerName{
    text-decoration: underline;
}
.statsDisplay div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.statsDisplay img{
    width: min(5vh, calc(5vw * 2 / 3));
}

#blownUp{
    position: absolute;
    place-self: center;
    box-shadow: 0 0 20px 10px gray;
    width: 40vh;
    border-radius: 10%;
    z-index: 3;
}
#blownUp.FAQOnly{
    box-shadow: none;
    top: 8vh;
    left: calc(6vw + var(--display-toggle-width));
}
#blownUp .FAQ{
    position: absolute;
    left: calc(-45vw + 20vh + var(--display-toggle-width));
    width: calc(40vw - 20vh - var(--display-toggle-width));
    height: 40vh;
    display: grid;
    align-items: center;
}
#blownUp.FAQOnly .FAQ{
    left: 0vw;
}
#blownUp .FAQ p{
    height: fit-content;
    padding: 15px;
    background-color: var(--standard-action-color);
    box-shadow: 0 0 7px 2px gray;
    font-size: 2.7vh;
    text-align: center;
}
#blownUp .FAQ p.oneShot{
    background-color: var(--one-shot-color);
}

.coin{
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: goldenrod;
    box-shadow: 0 0 5px black inset;
    z-index: 3;
}

#gameSpace{
    position: absolute;
    place-self: center;
    width: min(85vh, 50vw);
    height: min(85vh, 50vw);
    border-radius: 50%;
    background-color: blanchedalmond;
}
#gameSpace>div[id^="player"]{
    position: absolute;
    display: grid;
    grid-template-columns: min(27vh, calc(27vw * 2 / 3)) min(20vh, calc(20vw * 2 / 3));
    align-items: center;
    left: calc(50% - min(20vh, calc(20vw * 2 / 3)));
    top: calc(50% - min(10vh, calc(10vw * 2 / 3)));
    width: min(40vh, calc(40vw * 2 / 3));
    height: min(20vh, calc(20vw * 2 / 3));
}
div[id^="player"] .playerIcon{
    grid-column: 2 / 3;
    width: min(20vh, calc(20vw * 2 / 3));
    height: min(20vh, calc(20vw * 2 / 3));
    background-color: gainsboro;
    border-radius: 50%;
    background-image: var(--crosshair-background, none), var(--bewitched-background, none);
    background-size: 40% 40%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    display: grid;
}
div[id^="player"] .playedCard{
    position: fixed;
    justify-self: center;
    width: min(15vh, 10vw);
    aspect-ratio: 5 / 7;
    border-radius: 13%;
    z-index: 2;
}
.playedCard img{
    grid-area: 1 / 1 / 5 / 4;
    width: 100%;
}

.playedCard.back{
    transform: translateX(min(5vh, calc(5vw * 2 / 3))) rotate(-90deg);
    opacity: 0.5;
    background-image: url(/static/Images/Misc/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#cardToResolve{
    box-shadow: 0 0 10px 5px yellow;
}

.playerIcon img{
    place-self: center;
    width: min(7vh, calc(7vw * 2 / 3));
    filter: invert(60%) sepia(100%) saturate(300%);
}

.mustache{
    position: relative;
    top: -15%;
}

.playedCard[targeting="open"]{
    border: 3px dashed cyan;
}
.playedCard[targeting="locked"]{
    border: 3px solid black;
}
.playedCard[targeting="redirectable"]{
    border: 3px dotted black;
}
.playedCard[targeting="redirected"]{
    border: 3px solid cyan;
}

#cardSwapPopUp{
    position: absolute;
    place-self: center;
    display: flex;
    gap: 6vh;
}
#cardSwapPopUp button{
    width: 15vh;
    height: 10vh;
    font-size: 3vh;
}

#finalizeTargeting{
    position: absolute;
    place-self: center;
    height: 7vw;
    width: 14vw;
    font-size: 2.5vw;
}

div[id^="player"] #handIcon{
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    transform: rotate(-90deg);
    width: 7.5vh;
}

#playerDisplay, #shopDisplay{
    position: absolute;
    align-self: center;
    width: 60vw;
    height: 92vh;
    display: grid;
    grid-template-rows: 7vh auto;
    z-index: 5;
}
#playerDisplay{
    right: calc(100vw - var(--display-toggle-width));
    grid-template-columns: auto var(--display-toggle-width);
}
#shopDisplay{
    left: calc(100vw - var(--display-toggle-width));
    grid-template-columns: var(--display-toggle-width) auto;
}
.shopLabel{
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--shop-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}
#shopDisplayVisibilityToggle:hover{
    background-color: rgba(220, 180, 90, 0.85);
}
#shopDisplayVisibilityToggle{
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    width: var(--display-toggle-width);
    height: 100%;
    display: grid;
    align-items: center;
    background-color: var(--shop-color);
}
#shopDisplayVisibilityToggle img{
    justify-self: center;
    width: 100%;
}

#playerDisplayVisibilityToggle:hover{
    background-color: rgba(180, 180, 180, 0.85);
}
#playerDisplayVisibilityToggle{
    grid-area: 1 / 2 / 3 / 3;
    width: var(--display-toggle-width);
    height: 100%;
    display: grid;
    align-items: center;
    background-color: rgba(130, 130, 130, 0.85);
}
#cardLocationToggle{
    align-self: center;
    height: 7vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#cardLocationToggle>div{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
#cardLocationToggle>div>p{
    width: 60%;
    height: 70%;
    background-color: whitesmoke;
    border: solid 1px black;
    text-align: center;
    font-size: 4.4vh;
    border-radius: 1vh;
}
#cardLocationToggle>div:hover{
    cursor: pointer;
}
#sortActions{
    position: absolute;
    top: 0;
    right: calc(0% + var(--display-toggle-width));
    display: grid;
    grid-template-rows: 7vh 1fr;
    grid-template-columns: 1fr 2fr;
    width: 15%;
    cursor: default;
}
#sortActions img{
    grid-column: 2 / 3;
    filter: invert(1);
    width: min(50%, 5.5vh);
    place-self: center;
}
#sortActions form{
    grid-column: 1 / 3;
    justify-self: end;
    padding: 0.5vw 1vw;
    font-size: 2vw;
    background-color: whitesmoke;
    visibility: hidden;
}

.actionSelection.play{
    grid-row: 2 / 3;
}
.actionSelection.buy{
    grid-column: 2 / 3;
}
.actionSelection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 25%));
    scrollbar-width: none;
    overflow: auto;
    background-color: #000000d5;
}
.actionSelection>div{
    height: fit-content;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: start;
    padding: 1% 5%;
}
.actionSelection div p.numberOfActions{
    margin-top: -5px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#actionSearch{
    position: absolute;
    left: 10vw;
    top: 3vh;
    display: grid;
    z-index: 2;
}
#actionSearch img{
    position: absolute;
    grid-row: 1/2;
    left: 11vw;
    width: min(3vh, 20px);
    align-self: center;
}
#actionSearch input{
    height: 3vh;
    width: 12vw;
    border-radius: 50px;
    padding-left: 10px;
    font-size: 1.5vw;
}
#actionSearch input:focus{
    outline: none;
}
#actionSearch div{
    padding-left: 10px;
}
#actionSearch div p{
    padding: 2px 0;
    font-size: 16px;
    background-color: white;
}
#actionSearch div p.highlighted{
    background-color: lavender;
}

#player0 .bewitched{
    --bewitched-background: url(/static/Images/Misc/bewitched0.jpg);
}
#player1 .bewitched{
    --bewitched-background: url(/static/Images/Misc/bewitched1.jpg);
}
#player2 .bewitched{
    --bewitched-background: url(/static/Images/Misc/bewitched2.jpg);
}
#player3 .bewitched{
    --bewitched-background: url(/static/Images/Misc/bewitched3.jpg);
}
#player4 .bewitched{
    --bewitched-background: url(/static/Images/Misc/bewitched4.jpg);
}

#selectedPlayer{
    --crosshair-background: url(/static/Images/Icons/crosshair.svg);
}

#confirmAction{
    position: absolute;
    place-self: center;
    height: 7vh;
    width: 14vh;
    font-size: 3vh;
}

#impersonateDiv{
    position: absolute;
    place-self: center;
    width: 10vw;
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: 1.5vw;
    gap: 2vw;
    background-color: rgb(var(--neutral-background-rgbs));
    padding: 2vw;
}

#retrieveDiv{
    position: absolute;
    left: calc(60vw + var(--display-toggle-width));
    top: 30vh;
    width: 15vw;
    display: grid;
    gap: 1vh;
    justify-items: center;
    text-align: center;
    font-size: 2vw;
    background-color: rgb(var(--neutral-background-rgbs));
    box-shadow: 0 0 1vw 1px black;
    padding: 2vw;
}
#remainingRetrievals{
    font-size: 5vw;
}

.retrieveIcon{
    position: relative;
    display: grid;
    place-content: center;
    top: -17vw;
    left: 4vw;
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    margin-bottom: -3vw;
    border-radius: 50%;
    background-color: limegreen;
    box-shadow: 0 0 0 1px gray;
}

#workValueScorecard{
    position: absolute;
    top: 90vh;
    left: calc(1vw + var(--display-toggle-width));
    width: 6vh;
    height: calc(10vh - 1vw);
    background-color: var(--work-color);
    border-radius: 1vh;
    display: grid;
}
#workValueScorecard p{
    place-self: center;
    color: white;
    font-size: 7vh;
    font-weight: bold;
}
#stealValueScorecard{
    position: absolute;
    top: 90vh;
    left: calc(2vw + var(--display-toggle-width) + 6vh);
    width: 6vh;
    height: calc(10vh - 1vw);
    background-color: var(--steal-color);
    border-radius: 1vh;
}
#blownUpScorecard{
    position: absolute;
    place-self: center;
    width: 26vh;
    height: 39vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
    font-weight: bold;
    font-size: 3vh;
    border: 2px solid black;
    border-radius: 4vh;
}
#blownUpScorecard.work{
    background-color: var(--work-color);
}
#blownUpScorecard.steal{
    background-color: var(--steal-color);
}

#donationScreen{
    position: absolute;
    place-self: center;
    width: 30vh;
    padding: 10px;
    display: grid;
    gap: 3vh;
    justify-items: center;
    font-size: 3vh;
    text-align: center;
    background-color: rgba(221, 219, 219, 0.418);
}
#donationScreen input{
    width: 4vh;
    height: 4vh;
    font-size: 4vh;
    text-align: center;
}
#checkOutList{
    position: absolute;
    right: 75vw;
    bottom: calc(10vh + 1vw);
    display: flex;
    flex-direction: column-reverse;
    gap: 2.5vh;
    padding: 1vh 1vw;
    width: calc(22vw - var(--display-toggle-width));
    background-color: lightgoldenrodyellow;

}
#checkOutList div{
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 4vh;
}
#checkOutList .coinDiv{
    font-size: 5vh;
    gap: 5px;
}
#checkOutList .sum{
    grid-area: -2 / 2 / -1 / 3;
    font-size: 5vh;
    text-align: end;
}
#checkOutList button{
    grid-area: -1 / 1 / -2 / 2
}
#checkOutList .rebate{
    font-size: 5vh;
    color: green;
}
#checkOutList .leftover{
    font-size: 5vh;
}
.selected{
    box-shadow: 0 0 0 5px var(--shop-color);
}

#notificationCenter{
    position: absolute;
    right: 7vh;
    bottom: 2vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    height: 70vh;
    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
}
.notificationDiv{
    width: 20vw;
    padding: 5px;
    min-height: 70px;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 5px;
    align-items: center;
    text-align: center;
    z-index: 3;
}
.notificationDiv b{
    text-shadow: 1px 1px 1px black;
}
.notificationDiv span{
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
.notificationDiv.info{
    background-color: rgba(var(--neutral-background-rgbs), 0.9);
}
.notificationDiv.error{
    background-color: rgba(255, 100, 90, 0.9);
}
.notificationDiv.warning{
    background-color: rgba(255, 170, 160, 0.9);
}
.notificationDiv img{
    width: 20px;
}
.notificationDiv button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    align-self: start;
}

.statsDisplay:hover, .card:hover{
    cursor: default;
}

#scores{
    position: absolute;
    place-self: center;
    z-index: 15;
    width: 50vmin;
    height: 50vmin;
    overflow: show;
}
#scores table{
    display: grid;
    justify-content: center;
}


@media (prefers-color-scheme: dark) {
    body{
        background: radial-gradient(circle at center, whitesmoke, var(--dark-mode-color) 50%);
        background: var(--dark-mode-color);
    }
    #gameSpace{
        background-color: peru;
    }
    .card.oneShot, #blownUp .FAQ p.oneShot{
        background-color: var(--dark-mode-one-shot-color); 
    }
    .card, #blownUp .FAQ p{
        background-color: var(--dark-mode-standard-action-color);
    }
    .card p.text, .card p.name, #checkOutList p, #notificationCenter, .grudgieSpeech, #mainMenu .title, button{
        color: white;
    }

    #cardLocationToggle>div>p, #sortActions form, #actionSearch div p{
        color: white;
        background-color: var(--dark-mode-color);
    }

    button{
        background-color: #332a2e;
    }

    #blownUp .FAQ p{
        color: white;
        box-shadow: 0 0 7px 2px whitesmoke;
    }
    #blownUp{
        box-shadow: 0 0 20px 10px whitesmoke;
    }

    .statsDisplay{
        filter: invert(1);
    }
    .statsDisplay .playerName{
        filter: invert(1);
    }
    div[id^="player"] .playerIcon {
        background-color: gray;
    }
    #actionSearch input, #actionSearch div p.highlighted{
        color: white;
        background-color: #3b2832;
    }
    #actionSearch img{
        filter: invert(1);
    }

    .playedCard[targeting="open"]{
        border: 3px dashed pink;
    }
    .playedCard[targeting="redirected"]{
        border: 3px solid pink;
    }

    #checkOutList img{
        filter: invert(1);
    }
    #checkOutList{
        background-color: darkgoldenrod;
    }
    #checkOutList .rebate{
        color: lightgreen;
    }
    #tutorial{
        filter: invert(1);
    }
}