@import "./lobby.css";

@font-face {
    font-family: "callistoMT";
    src: url("/static/CallistoMT.ttf");
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: grid;
    grid-template-rows: 9vh auto 2fr;
    width: 100vw;
    height: 100vh;
}

button{
    width: 10vh;
    height: 5vh;
    border-radius: 10px;
    font-size: 16px;
}

.header{
    position: sticky;
    top: 0vh;
    background-color: #3f353a;
    height: 9vh;
    display: grid;
    align-items: center;
}
#backgroundImage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.25;
    object-fit: cover;
    z-index: -1;
}

#statsSidebar{
    position: absolute;
    top: 0vh;
    right: 0vw;
    height: 100vh;
    width: fit-content;
    display: grid;
    align-items: center;
    background-color: beige;
}
#statsSidebar div[id^="playerDisplay"]{
    display: grid;
    grid-template: 3vh 5vh 5vh / repeat(4, 5vh);
    gap: 0.5vh;
    align-items: center;
    font-weight: bold;
    font-size: 3vh;
    height: fit-content;
}
#statsSidebar p{
    justify-self: left;
}
#statsSidebar .playerName{
    grid-area: 1 / 1 / 2 / 5;
    font-size: 4vh;
    font-weight: bold;
}
#statsSidebar div{
    padding: 1vh 3vh;
    font-size: 2vh;
}
#statsSidebar img{
    width: 4vh;
}

#blownUp{
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 40vh;
    border-radius: 10%;
    z-index: 5;
}

#gameSpace{
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    background-color: blanchedalmond;
}
#gameSpace>div[id^="player"]{
    position: absolute;
    display: grid;
    grid-template: 20vh auto / 20vh auto;
    left: calc(50% - 20vh);
    top: calc(50% - 10vh);
    width: 40vh;
    height: 20vh;
}
div[id^="player"] .playerIcon{
    width: 20vh;
    height: 20vh;
    background-color: #3f353a;
    border-radius: 50%;
}
div[id^="player"] .playedCard{
    align-self: center;
    justify-self: center;
    width: 12.5vh;
    border-radius: 13%;
    border: 3px dashed cyan;
}

div[id^="player"] #handIcon{
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    transform: rotate(-90deg);
    width: 7.5vh;
}

#actionDisplayDiv{
    position: absolute;
    align-self: center;
    width: 120vh;
    height: 90vh;
    display: grid;
    grid-template: 7vh auto / auto 4vh;
    z-index: 6;
}
#actionSelection{
    display: grid;
    grid-template: repeat(auto-fit, 50%) / repeat(4, 25%);
    overflow: auto;
    background-color: #000000d5;
}
#displayVisibilitySlider{
    grid-area: 1 / 2 / 3 / 3;
    width: 7vh;
    height: 100%;
    display: grid;
    align-items: center;
    background-color: #6e6e6ed5;
}
#cardLocationToggle{
    align-self: center;
    height: 7vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "callistoMT"
}
#cardLocationToggle>div{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
#cardLocationToggle>div>button{
    width: 50%;
    font-size: 3.6vh;
}
#actionSelection div{
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: start;
    padding: 5%;
}
#actionSelection div p{
    font-size: 5vh;
    font-weight: bold;
    color: white;
}
#actionSelection img{
    width: 100%;
    border-radius: 11%;
}

#selectedPlayer{
    border: 5px solid purple;
}

#confirm{
    position: absolute;
    align-self: center;
    justify-self: center;
    height: 7.5vh;
    width: 7.5vh;
}

#retrieveDiv{
    position: absolute;
    display: grid;

}
.retrieveIcon{
    position: relative;
    display: block;
    top: -31vh;
    left: 8vh;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: limegreen;
}