@import "./lobby.css";

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: grid;
    grid-template-rows: 90px auto 2fr 1fr;
    width: 100vw;
    height: 100vh;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
}

.header{
    position: sticky;
    top: 0vh;
    background-color: #3f353a;
    height: 90px;
    display: grid;
    align-items: center;
}
#backgroundImage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.25;
    object-fit: cover;
    z-index: -1;
}

#gameSpace{
    top: 15vh;
    position: relative;
    justify-self: center;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: blanchedalmond;
}
#gameSpace>div[id^="player"]{
    position: absolute;
    display: grid;
    left: calc(50% - 200px);
    top: calc(50% - 100px);
    width: 400px;
    height: 200px;
}
div[id^="player"] .playerIcon{
    width: 200px;
    height: 200px;
    background-color: #3f353a;
    border-radius: 50%;
}
div[id^="player"] .playedCard{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: brown;
}

div[id^="player"] img{
    width: 75px;
}